<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serwis szachowy - wejście jako anonimowy użytkownik</title>

    <link rel="stylesheet" href="style.css" />

</head>

<body class=maintext style="background-color:rgb(204, 178, 138);">

    <h1>Welcome to Chess Platform!</h1>


    <form method="POST">
        <div id='login'>
            <div>
                If you want to contiunue without an account, simply choose your username.
            </div>
            <br />
            <div>
                <label>Nazwa użytkownika:</label>
                <input type='text' name='txtUser' />
            </div>
            <div>
                <button>Enter</button>
            </div>
            <% if ( locals.message ) { %>
                <div class='message'>
                    <%= locals.message %>
                </div>
                <% } %>
        </div>
    </form>


    <a href="./">Cancel</a>






</body>

</html>