<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serwis szachowy - zakładanie konta</title>

    <link rel="stylesheet" href="style.css" />

</head>

<body class=maintext style="background-color:rgb(204, 178, 138);">

    <h1>Welcome to Chess Platform!</h1>

<form method="POST">
    <div id="login">
        <div>
            In order to create an account, choose an username and a password. 
        </div>
        <br />
        <div>
            <label>Enter your username:</label>
            <input type='text' name='UsernameInput' />
        </div>
        <div>
            <label>Enter your password:</label>
            <input type='password' name='PasswordInput' />
        </div>
        <div>
            <label>Confirm your password:</label>
            <input type='password' name='PasswordConfirmationInput' />
        </div>
        <div>
            <button id="registerButton">Register</button>
        </div>

        <% if ( locals.message ) { %>
            <div class='message'>
                <%= locals.message %>
            </div>
        <% } %>
    </div>
</form>

    <a href="./">Back</a>

</body>

</html>