<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css" />

</head>
<body style="background-color:rgb(204, 178, 138);">
    
<h1>Waitroom
    
</h1>

<div class="maintext" style="font-size: 30px";>
    Tu jest poczekalnia. <br/>
    Na razie nie da się tu wejść, bo authorize strzeże dostępu.
</div>


<div  style="font-size: 30px; position: absolute; top: 100px; left: 100px";>

    <a href="./waitroom">Register</a>
    
</div>

<div  style="font-size: 30px; position: absolute; top: 100px; left: 400px";>

    <a href="./room">Pierwszy pokój</a>
    
</div>


</body>
</html>