<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css" />

</head>
<body style="background-color:rgb(204, 178, 138);">
    
<h1>Waitroom</h1>


<div  style="font-size: 30px; position: absolute; top: 100px; left: 800px";>

    <div>Lista dostępnych pokoi:</div>
    <br />
    <% for (const roomId of Object.keys(locals.roomsList) ) { %>
        <a href="./room/<%= roomId %>" > Room number <%= roomId %> </a>
        <br />
    <% } %>
    
</div>

<div style="font-size: 30px; position: absolute; top: 100px; left: 100px">
    <% if ( locals.userTypeMessage == 'loggedIn' | locals.userTypeMessage == 'noAccount') { %>
        <div>
            Your username: 
            <%= locals.usernameMessage %>
        </div>
        <% } %>
</div>

<div style="font-size: 30px; position: absolute; top: 150px; left: 100px">

    <% if ( locals.userTypeMessage == 'loggedIn' ) { %>
        <a style="font-size: 30px" href="./logout">Logout</a>
    <% } %>

    <% if ( locals.userTypeMessage == 'noAccount' ) { %>
        <a style="font-size: 30px" href="./register">Register</a>
    <% } %>
</div>


</body>
</html>