.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    float: left;
    font-family: 'Arial Unicode MS';
    font-size: 55px;
    height: 70px;
    padding: 0;
    text-align: center;
    width: 70px;
    cursor: pointer;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none; 
}

.game, .infoButtons {
    display: flex;
    flex-direction: row;
}

.board-border {
    border: 2px solid black;
}