/* static/style.css */


.maintext {
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

h1{
    text-align: center;
    font-size: 50px;
}



body {
    text-align: center;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackcell {
    background-color: black;
}

.whitecell {
    background-color: white;
}






#rectangle{
    position: absolute;
    top: 100px;
    left: 300px;
    width:400px;
    height:400px;
    background:blue;
}


.bottomright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

.moveDiv {
    position: absolute;
    top: 300px;
    left: 800px;
}


